{% import 'macros/navigations.njk' as navigations %}

{% macro header(navs) %}
    <header>
        {% asyncEach navigation in navs.header %}
            {% if navigation.name == 'de' %}
                {{ navigations.header(navigation.children) }}
            {% endif %}
        {% endeach %}
    </header>
{% endmacro %}

{% macro footer() %}
    <footer>
        FOOTER
    </footer>
{% endmacro %}
