---
title: Startseite
permalink: false
publish:
position: 10
navGroup: [ header, footer ]
canonical: '/'
changefreq: always
lastmod: 2014-12-01
priority: 1.0
private: false
---
{% extends 'default.njk' %}

{% block contentblock %}
    Custom content
{% endblock %}